.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

body{
  background-image: url('walter.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

h4{
  color: white;
}

label{
  color: white;
}

p{
  color:white
}

button{
  background-color: white;
}

label{
  color: white;
}

div{
  color: purple
}
